In [95]:
%matplotlib inline

import os
import pandas as pd
from sklearn.linear_model import LogisticRegression

### Read the data

In [305]:
train = r'train.csv'
test = r'test.csv'
path = r'/Users/alex/.kaggle/competitions/titanic'
train = os.path.join(path, train)
test = os.path.join(path, test)
df = pd.read_csv(train)
df_test = pd.read_csv(test)

In [306]:
print(len(df_test))

418

drop 'Embarked' column because the ports people embark on should have any effect

In [307]:
df = df.dropna(axis=1, how='any')
df_test = df_test.dropna(axis=1, how='any')

print(df.head())
print(df_test.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    male      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                             Heikkinen, Miss. Laina  female      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                           Allen, Mr. William Henry    male      0      0

             Ticket     Fare
0         A/5 21171   7.2500
1          PC 17599  71.2833
2  STON/O2. 3101282   7.9250
3            113803  53.1000
4            373450   8.0500
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

   SibSp  Parch   Ticket Embarked
0      0      0   330911        Q
1      1      0   363272        S
2      0      0   240276        Q
3      0      0   315154        S
4      1      1  3101298        S

In [308]:
df = df.drop(['Name','Ticket','PassengerId','Fare'], axis=1)
passenger_id = df_test['PassengerId']
df_test = df_test.drop(['Embarked','Name','Ticket', 'PassengerId'], axis=1)

In [309]:
print(df.head())

   Survived  Pclass     Sex  SibSp  Parch
0         0       3    male      1      0
1         1       1  female      1      0
2         1       3  female      0      0
3         1       1  female      1      0
4         0       3    male      0      0

In [310]:
print(df_test.head())

   Pclass     Sex  SibSp  Parch
0       3    male      0      0
1       3  female      1      0
2       2    male      0      0
3       3    male      0      0
4       3  female      1      1

In [311]:
print(passenger_id)

0       892
1       893
2       894
3       895
4       896
5       897
6       898
7       899
8       900
9       901
10      902
11      903
12      904
13      905
14      906
15      907
16      908
17      909
18      910
19      911
20      912
21      913
22      914
23      915
24      916
25      917
26      918
27      919
28      920
29      921
       ...
388    1280
389    1281
390    1282
391    1283
392    1284
393    1285
394    1286
395    1287
396    1288
397    1289
398    1290
399    1291
400    1292
401    1293
402    1294
403    1295
404    1296
405    1297
406    1298
407    1299
408    1300
409    1301
410    1302
411    1303
412    1304
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [312]:
df.head()

   Survived  Pclass     Sex  SibSp  Parch
0         0       3    male      1      0
1         1       1  female      1      0
2         1       3  female      0      0
3         1       1  female      1      0
4         0       3    male      0      0

In [313]:
#df.replace({'Sex': {'male': True, 'female': False}})
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

df_test['Sex'] = df_test['Sex'].map({'male': 0, 'female': 1})

In [314]:
#grouping of age

In [315]:
x_train = df.drop(['Survived'], axis=1)
y_train = df['Survived']

In [316]:
# create an instance of the model
logisticRegr = LogisticRegression()

In [317]:
model = logisticRegr.fit(x_train, y_train)

In [318]:
x_test = df_test
print(x_test)

     Pclass  Sex  SibSp  Parch
0         3    0      0      0
1         3    1      1      0
2         2    0      0      0
3         3    0      0      0
4         3    1      1      1
5         3    0      0      0
6         3    1      0      0
7         2    0      1      1
8         3    1      0      0
9         3    0      2      0
10        3    0      0      0
11        1    0      0      0
12        1    1      1      0
13        2    0      1      0
14        1    1      1      0
15        2    1      1      0
16        2    0      0      0
17        3    0      0      0
18        3    1      1      0
19        3    1      0      0
20        1    0      1      0
21        3    0      0      1
22        1    1      0      0
23        1    0      0      1
24        1    1      1      3
25        3    0      1      0
26        1    1      0      1
27        3    0      0      0
28        1    0      0      0
29        3    0      2      0
..      ...  ...    ...    ...
388       3    0      0      0
389       3    0      3      1
390       1    0      0      0
391       1    1      0      1
392       3    0      0      2
393       2    0      0      0
394       3    0      3      1
395       1    1      1      0
396       3    0      0      0
397       1    1      1      1
398       3    0      0      0
399       3    0      0      0
400       1    1      0      0
401       2    0      1      0
402       1    1      0      1
403       1    0      0      0
404       1    0      1      0
405       2    0      0      0
406       2    0      1      0
407       1    0      1      1
408       3    1      0      0
409       3    1      1      1
410       3    1      0      0
411       1    1      1      0
412       3    1      0      0
413       3    0      0      0
414       1    1      0      0
415       3    0      0      0
416       3    0      0      0
417       3    0      1      1

[418 rows x 4 columns]

In [319]:
# Returns a NumPy Array
# Predict for One Observation (image)
pred = logisticRegr.predict(x_test)
print(pred)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [320]:
#pd.DataFrame(passenger_id, columns=['PassengerId']).to_csv('prediction.csv')

In [321]:
pred = pd.Series(pred)
passenger_id = pd.Series(passenger_id).reset_index()
passenger_id = passenger_id.drop(['index'], axis=1)
#print(passenger_id)

In [322]:
print(passenger_id)

     PassengerId
0            892
1            893
2            894
3            895
4            896
5            897
6            898
7            899
8            900
9            901
10           902
11           903
12           904
13           905
14           906
15           907
16           908
17           909
18           910
19           911
20           912
21           913
22           914
23           915
24           916
25           917
26           918
27           919
28           920
29           921
..           ...
388         1280
389         1281
390         1282
391         1283
392         1284
393         1285
394         1286
395         1287
396         1288
397         1289
398         1290
399         1291
400         1292
401         1293
402         1294
403         1295
404         1296
405         1297
406         1298
407         1299
408         1300
409         1301
410         1302
411         1303
412         1304
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [323]:
prediction = pd.concat([passenger_id, pred], axis=1, join_axes=[passenger_id.index], ignore_index=True)

#prediction = pd.DataFrame({'PassengerId': passenger_id, 'Survived': pred})

In [324]:
prediction.columns = ['PassengerId', 'Survived']
print(prediction)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [325]:
pd.DataFrame(prediction).to_csv('prediction.csv')